@import org.bson.Document
@(document: Document)

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
        $(document).ready(function () {
            $("#set").click(function () {
                var value = $("#editor").text();
                $("form").append("<input type='hidden' name='update-value' value='" + value + "'><br>");
            });
        });
</script>

<div id="editor" style="width: 950px;
    height: 400px;">@document.toJson().replace(",", ",\n")</div>

<br>

<div class="col-lg-4 form-group">
    <form method="post" action="" enctype="application/x-www-form-urlencoded">
        <input class="btn btn-lg btn-green btn-block" type="button" name="set" id="set" value="Set">
        <input class="btn btn-lg btn-green btn-block" type="submit" id="update-btn" name="update-btn" value="Update">
    </form>
</div>

<script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/xcode");
        var JsonMode = ace.require("ace/mode/json").Mode;
        editor.session.setMode(new JsonMode());
        editor.getSession().setTabSize(4);
</script>
