<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JMangoAdmin</title>

        <!-- PACE LOAD BAR PLUGIN - This creates the subtle load bar effect at the top of the page. -->
    <link href="@routes.Assets.at("stylesheets/plugins/pace/pace.css")" rel="stylesheet">
    <script src="@routes.Assets.at("javascripts/plugins/pace/pace.js")"></script>

        <!-- GLOBAL STYLES - Include these on every page. -->
    <link href="@routes.Assets.at("stylesheets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href='./fonts/fonts.googleapis.com/css3ef8.css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel="stylesheet" type="text/css">
    <link href='./fonts/fonts.googleapis.com/css5c84.css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("stylesheets/font-awesome.min.css")" rel="stylesheet">

        <!-- PAGE LEVEL PLUGIN STYLES -->
    <link href="@routes.Assets.at("stylesheets/plugins/summernote/summernote.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/plugins/summernote/summernote-bs3.css")" rel="stylesheet">

        <!-- THEME STYLES - Include these on every page. -->
    <link href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/plugins.css")" rel="stylesheet">

    <script src="@routes.Assets.at("javascripts/ace/ace.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("javascripts/ace/theme-xcode.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("javascripts/ace/mode-json.js")" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
</head>
