<script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
<script src="@routes.Assets.at("javascripts/plugins/bootstrap/bootstrap.min.js")"></script>
<script src="@routes.Assets.at("javascripts/plugins/slimscroll/jquery.slimscroll.min.js")"></script>
<script src="@routes.Assets.at("javascripts/plugins/popupoverlay/jquery.popupoverlay.js")"></script>
<script src="@routes.Assets.at("javascripts/plugins/popupoverlay/defaults.js")"></script>

<script src="@routes.Assets.at("javascripts/flex.js")"></script>
