<nav class="navbar-top" role="navigation">

    <div class="navbar-header">
        <div class="navbar-brand" style="color: #9febff;">JMangoAdmin</div>
    </div>

    <div class="nav-top">
        <ul class="nav navbar-right">
            <li class="dropdown">
                <a href="#" class="tasks-link dropdown-toggle" data-toggle=dropdown>
                    Options
                </a>

                <ul class="dropdown-menu dropdown-scroll dropdown-tasks">
                    <li class="dropdown-header"> Options</li>

                    <li id="taskScroll">
                        <ul class="list-unstyled">
                            <li>
                                <a href="/server/add"><p>Add Server</p></a>
                            </li>
                            <li>
                                <a href="/credential/add"><p>Add Credential</p></a>
                            </li>
                            <li>
                                <a href="/database/create"><p>Create Database</p></a>
                            </li>
                            <li>
                                <a href="/database/delete"><p>Delete Database</p></a>
                            </li>
                            <li>
                                <a href="/shutdown"><p>Shutdown</p></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
